* {margin: 0;
  padding: 0;}
  body{
    background-color: #B9D5D8;
  }
/*------------------------------------*/

/*  POLICES */
h1 {
  font-family:"Arial", Helvetica, sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
ul li:hover{
background-color: #8C704D;}
.base_text{
  font-family: "Arial", Helvetica, sans-serif;
}
/*------------------------------------*/

/* Background*/
.bcr-blue {
  background-color: #366873;
  width: 100%;
  height: 200px;
  border: 5px solid #2C4859;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: -5px;
  margin-left: 20px;
  margin-right: 20px;
}
.bcimage {
  background-color: #2C4859;
  width: 350px;
  height: 350px;
  margin: 50px;  
}
/*------------------------------------*/

/*Direction*/
.container {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
/*-----------------------------------*/

/*HEADER*/
#navbar {
  width: 100%;
  height: 55px;
  background-color: #2C4859;
  position: fixed;
}
#navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
ul li {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 0.8em;
  font-size: 20px;
  float: right;
  text-shadow: 0 0 10px black;

}
h1 {
  color: #3a3a3a;
  margin-left: 80px;
  font-size: 30px;
  margin-bottom: 18px;}
p {
  color:black;
  margin-left: 80px;
  font-size: 25px;
  padding-bottom: 10px;
  }
#path {
  text-align: center;
}
#path img {
  width: 70%;
}
/*-----------------------------------*/

/*MAIN*/
#comp {
  width: auto;
  margin-top: 40px;
  background-color: #F2E3B3;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  border: 5px solid #366873;
  border-radius: 20px;
}
#logos{
  padding-top: 40px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
}
  
#logos img{
  width: 100%;
  height: auto;
}
#conteneur{
  margin-top: -5px;
  background-color: #F2E3B3;
  height: 300px;
  width: auto;
  border:5PX solid #366873;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#profil {
margin-top: 30px;
margin-left: -35px;  
}
/*-----PORTFOLIO-----*/
#txt_port {
  margin-top: 40px;
  text-align: center;
}
#portfolio {
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  }
/*------BAS-----*/
#bas{
  width: auto;
  height: auto;
  align-items: center;
}

label {
  font-size: 16px;
  color: black;
}
form {
  padding: 1em;
  border: 5px solid #2C4859;
  border-radius: 1em;
  background-color: #F2E3B3;
}
form div + div {
  margin-top: 1em;
}
label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 150px;
  text-align: center;align-items: center;}
button{
  margin-left: 300px;
}
/* même taille que les étiquettes */
#message{
  margin-left: 5px;
}
#formulaire {
  width: 610px;}
/*-----------------------------------*/

/*CONTACT*/
#contact{
  width: 100%;
  height: auto;
  }
#contact h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
text-align: center;
color:white;
text-decoration: none;}

#contact p{
  color: white;
  padding-top: 5px;
  text-align: center;
}