* {margin: 0;
  padding: 0;}
/*------------------------------------*/

/*  POLICES */
@font-face {
  font-family: "Impact";
  src: url("../police/impact.ttf");
}
h1 {
  font-family: Impact;
}
a {
  text-decoration: none;
  color: white;
}
.base_text{
  font-family: Arial, Helvetica, sans-serif;
}
/*------------------------------------*/

/* Background*/
.bcr-blue {
  background-color: rgb(41, 126, 255);
  width: 80%;
  height: 200px;
  border: 25px solid #3a3a3a;
  border-radius: 20px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 50px;
  margin-left: 36px;
}
.bcimage {
  display: flex;
  flex-direction: row;
  background-color: wheat;
  width: 350px;
  height: 350px;
  margin-left: 50px;
}
/*------------------------------------*/

/*Direction*/
.container {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
/*-----------------------------------*/

/*HEADER*/
#navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(35, 189, 24);

}
ul li {
  font-family: Impact;
  display: flex;
  flex-direction: row;
  padding: 0.8em;
  font-size: 25px;
  float: right;
  margin-right: 240px;
  text-shadow: 0 0 10px black;
}
h1 {
  color: #3a3a3a;
  margin-left: 80px;
  font-size: 30px;
  margin-bottom: 18px;}
p {
  color:black;
  margin-left: 80px;
  font-size: 25px;
  padding-bottom: 10px;
  }
#path {
  text-align: center;
}
#path img {
  width: 70%;
}
/*-----------------------------------*/

/*MAIN*/
#conteneur{
  margin-top: 50px;
  background-color: #BCF5A9;
  height: 300px;
  width: 1100px;
  border:8PX solid grey;
  border-radius: 20px;
  margin-left: 420px;
  margin-right: 50px;
}
#profil {
margin-top: 30px;  
}

#comp {
  width: 1000px;
  margin-top: 40px;
  background-color: #FBF8EF;
  padding-top: 50px;
  padding-bottom: 80px;
  border: 15px solid black;
  margin-left: 460px;
  border-radius: 20px;
}
#logos{
  padding-top: 40px;
  width: 150px;
  height: 150px;
  margin-left: 40px;
}
  
#logos img{
  width: 100%;
  height: auto;
}
#txt_port {
  margin-top: 40px;
  text-align: center;
}
#portfolio {
  margin-top: 30px;
  margin-bottom: 50px;
  justify-content: center;
}

label {
  font-size: 16px;
  color: black;
}
form {
  /* Uniquement centrer le fmarg50px
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 5px solid rgb(35, 189, 24);
  border-radius: 1em;
}
form div + div {
  margin-top: 1em;
}
label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 150px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
  margin-left: 300px;
}
/* même taille que les étiquettes */
#message{
  margin-left: 5px;
}
#formulaire {
  margin-bottom: 10px;
  margin-left: 650px;
  width: 610px;}
/*-----------------------------------*/

/*CONTACT*/
#contact{
  justify-content: center;
  height: 350px ;
  }
#contact h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
text-align: center;
color:white;
text-decoration: none;}

#contact p{
  color: white;
  text-align: center;
  padding-top: 5px;
}